<footer class="bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Directeur : Rachid AMRI</li>
                    <li>Email : directeuri7rades@gmail.com</li>
                    <li>Téléphone : 71 46 11 25</li>
                    <li>BP 172, Rue el Qods, Rades Medina</li>
                    <li>Téléphone institut : 71 460 100</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Formations</a></li>
                    <li><a href="#">Admission</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Réseaux sociaux</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2023 Institut Supérieur de l'Industrie de Rades</p>
            </div>
        </div>
    </div>
</footer>