<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ISET Rades</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="about us">About Us</a>
            </li>
            <li class=" nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="formation" id="navbarDropdownFormation" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Formation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownFormation">
                    <a class="dropdown-item" href="technologie-informatique.html">Technologie Informatique</a>
                    <a class="dropdown-item" href="genie-civil.html">Génie Civil</a>
                    <a class="dropdown-item" href="mechanique.html">Mécanique</a>
                    <a class="dropdown-item" href="gestion.html">Gestion</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="bureau" id="navbarDropdownBRI" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bureau Relation International
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBRI">
                    <a class="dropdown-item" routerLink="erasmusplus">Erasmus+</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="projets">Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="evennement">Événements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>